<!doctype html>

<html>
  
  <head>
    <title>Cad&ecirc; meu produto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/white-plum/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
type="text/javascript"></script>
    <style>
      a.thumbnail {
        width:210px;
        height:160px;
      }
    </style>
  </head>
  
  <body>
    <div class="container text-center">      
      <div>
        <div class="nav">
          <form class="navbar-form" role="search" action="busca">
            <div class="row">
              <div class="col-md-2">
                <a href="/">Cad&ecirc; meu produto</a>
              </div>
              <div class="col-md-10">
              <div class="input-group">            
                <input class="form-control" placeholder="Search" name="q" id="srch-term"
value="<%= q %>" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">buscar</button>
                </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="main text-left">
          <p><%= result.hits.total %> Resultados para <strong><%= q %></strong> ( <%= result.took / 1000 %> segundos)</p>
          <div class="row">
            <div class="col-md-2">
              <ul>
                <li><a href='/busca?q=<%= q %>'> Todos os resultados</a></li>
              <% for(var i = 0;i < result.facets.store.terms.length; i++) {%>
                <li><a href='/<%= result.facets.store.terms[i].term %>?q=<%= q %>'> <%= result.facets.store.terms[i].term %> (<%= result.facets.store.terms[i].count %>)</a></li>
              <% } %>
              </ul>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-10">
                  <ul class="pager">
                    <li class="previous <%= page == 1 ? 'disabled' : '' %>"><a href="busca?q=<%= q %>&page=<%= page == 1 ? 1 : parseInt(page) - 1 %>">Anterior</a></li>
                    <li class="next"><a href="busca?q=<%= q %>&page=<%= parseInt(page) + 1 %>">Proxima</a></li>
                  </ul>
                </div>
              </div>
              <% for(var i = 0; i < result.hits.hits.length; i++){ %>
              <dir class="row">
                <div class="col-md-2"><img width="100" src="<%= result.hits.hits[i]._source.thumb || "https://app.divshot.com/img/placeholder-100x100.gif" %>"></div>
                <div class="col-md-7"><%= result.hits.hits[i]._source.title %></div>
                <div class="col-md-7">
                <% var p = (result.hits.hits[i]._source.price.length-1) %>
De: <%= result.hits.hits[i]._source.price[p].de %> - 
Por: <%= result.hits.hits[i]._source.price[p].por %> - 
Avista: <%= result.hits.hits[i]._source.price[p].avista %>
                </div>
                <div class="col-md-7"><%= result.hits.hits[i]._source.store %></div>
              </dir>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
