<!doctype html>

<html>
  
  <head>
    <title>Cad&ecirc; meu produto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/white-plum/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
type="text/javascript"></script>
    <style>
      a.thumbnail {
        width:210px;
        height:160px;
      }
    </style>
  </head>
  
  <body>
    <div class="container text-center">
      <a href="/"><h1 class="page-header">Cad&ecirc; meu produto</h1></a>
      <div>
        <div class="nav">
          <form class="navbar-form" role="search" action="busca">
            <div class="input-group">
              <input class="form-control" placeholder="Search" name="q" id="srch-term"
type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
